<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOTAMITIVE</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/adm.css">
<link href="./css/date.css" type="text/css" rel="stylesheet" />
</head>
<body>
<script type="text/javascript" src="./js/date.js"></script> 
    <header>
        <h1>Blog后台管理界面</h1>


    </header>
    <div id="main">
        <div id="lside">
            <aside>
                <h4>栏目管理</h4>
                <ul>
                    <li><a href="catlist.php">栏目列表</a></li>
                    <li><a href="catadd.php">添加栏目</a></li>
                </ul>
            </aside>
            <aside>
                <h4>文章管理</h4>
                <ul>
                    <li><a href="artlist.php">文章列表</a></li>
                    <li><a href="artadd.php">发布文章</a></li>
                    <li><a href="commlist.php">评论列表</a></li>
                </ul>
            </aside>
            <aside>
                <h4>时间轴管理</h4>
                <ul>
                    <li><a href="timelinelist.php">时间轴列表</a></li>
                    <li><a href="timelineadd.php">创建时间轴</a></li>
                </ul>
            </aside>
            <aside>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="changeword.php">修改密码</a></li>
                    <li><a href="logout.php">安全退出</a></li>
                </ul>
            </aside>
        </div>