<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/art.css">
<style>
form {
width:30%;
margin:0 auto;
}
#login li{
    float: left;
    margin-left: 13px;
    margin-bottom: 15px;
}
</style>
<script type="text/javascript">
    function change(){
        
        var table = document.getElementById('uni');
        table.src = 'getVerify.php';
    }
</script>
</head>
<body>
    <header>
        <h1>Blog后台管理界面</h1>
    </header>
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="#" method="post">
            <?php if(isset($bond)) echo "<p><h3>首次第三方账号登陆，请绑定原账号：</h2></p>";?>
                <p>
                <input placeholder="用户名" name="name" type="text" value="" size="30">
                </p>
                <p>
                <input placeholder="密码" name="password" type="password" value="" size="30">
                </p>
                <?php if(!isset($bond)){?>
                <p>
                <input placeholder="验证码" name="verify" type="text" value="" size="30">
                </p>
                <p>
                <table><tr>
                <td><img id="uni" src="getVerify.php" border=0 onclick="change();"></td>
                <td>&nbsp&nbsp&nbsp&nbsp<input name="autoFlag" type="checkbox" value="1" >七天内免登陆</td>
                <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" value="登陆"></td>
                </tr></table>
                
                <ul id="login">
                <li><a href="/oauth/qqConnect/qqlogin.php"><img src="./images/qq_login_blue.png" height="33"></a></li>
                <li><a href="/oauth/weibo/wblogin.php"><img src="./images/weibo_login.png" height="33"></a></li>
                </ul>
                <?php }else{?>
                <p><input type="submit" value="绑定"></p>
                <?php }?>
                <p><br></p>
                <p style="clear: both;"></p>

            </form>
        </div>
    </div>
